<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/calendar.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/calendar_week.css') }}" />
</head>
<body>
    <h1>Календарь на неделю</h1>

    <div class="header">
        <button title="Добавить задачу" >+</button>

        <button title="Предыдущая неделя" onclick="window.location='/calendar/week{{ previous_week_link }}'" >&lt;</button>
        <button title="Следующая неделя" onclick="window.location='/calendar/week{{ next_month_link }}'" >&gt;</button>

        <div class="current-date">
            {{ month_name }} {{ year }}
        </div>

        {% if week != current_week or month != current_month or year != current_year %}
            <button title="{{ current_day }} {{ current_month_name }} {{ current_year }} " onclick="window.location='/calendar/week/'">Сегодня</button>
        {% endif %}

        <div class="select_calendar">
            <select name="select_calendar" id="select_calendar">
              <option value="day">День</option>
              <option value="week" selected>Неделя</option>
              <option value="month">Месяц</option>
            </select>
        </div>

    </div>

    <ul class="calendar-header">
        {% for num in range(0, 7) %}
            <li class="weekday-header">
                <div>
                    <span
                        {% if week_days[num].day == current_day and week_days[num].month == current_month and week_days[num].year == current_year %}
                            class="weekday-curent"
                        {% endif %}
                    >
                        {{ weekdays_headers[num] }}
                    </span>
                </div>
                <div class="day-header">
                    <span
                        {% if week_days[num].day == current_day and week_days[num].month == current_month and week_days[num].year == current_year %}
                            class="day-curent"
                        {% endif %}
                    >
                        {{ week_days[num].day }}
                    </span>
                </div>
            </li>
        {% endfor %}
    </ul>

    <ul class="calendar" id="calendar">
        {% for num_hour in range(0, 24) %}
            {% for num_day in range(0, 7) %}

                <li class="day">

                    <span class="daynum"> {{ week_days[num_day] }} {{ num_hour }}:00 </span>

                </li>

            {% endfor %}
        {% endfor %}
    </ul>

</body>
</html>

<script src="{{ url_for('static', filename='js/select_calendar.js') }}"></script>
