<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/calendar.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/calendar_day.css') }}" />



</head>
<body>
    <h1>Календарь на день</h1>

    <div class="header">
        <button title="Добавить задачу" >+</button>

        <button title="Предыдущий день" onclick="window.location='/calendar/day{{ previous_day_link }}'" >&lt;</button>
        <button title="Следующий день" onclick="window.location='/calendar/day{{ next_day_link }}'" >&gt;</button>

        <div class="current-date">
            {{ day }} {{ month_name }} {{ year }}, {{ weekday_name }}
        </div>

        {% if day != current_day or month != current_month or year != current_year %}
            <button title="{{ current_day }} {{ current_month_name }} {{ current_year }} " onclick="window.location='/calendar/day/'">Сегодня</button>
        {% endif %}

        <div class="select_calendar">
            <select name="select_calendar" id="select_calendar">
              <option value="day" selected>День</option>
              <option value="week">Неделя</option>
              <option value="month">Месяц</option>
            </select>
        </div>



    </div>

    <ul class="calendar-header">
        <li class="day-header">
            <div>
                <span
                        {% if day == current_day and month == current_month and year == current_year %}
                            class="weekday-curent"
                        {% endif %}
                >
                    {{ weekday_name }}
                </span>
            </div>
            <div class="day-div">
                <span
                        {% if day == current_day and month == current_month and year == current_year %}
                            class="day-curent"
                        {% endif %}
                >
                    {{ day }}
                </span>
            </div>
        </li>
    </ul>

    <ul class="calendar" id="calendar">
        {% for num_hour in range(0, 24) %}
                <li class="day">

                    <span class="daynum"> {{ day }}-{{ month }}-{{ year }} {{ num_hour }}:00 </span>

                </li>
        {% endfor %}
    </ul>



</body>
</html>

<script src="{{ url_for('static', filename='js/select_calendar.js') }}"></script>
