<!DOCTYPE html>
<html>
<head>
  <title>Событие</title>
</head>
<body>
  <h1>Событие</h1>
  <form method="post">
    <label for="title">Заголовок:</label><br>
    <input type="text" id="title" name="title" value={{event[0]}}><br>
    <label for="description">Описание:</label><br>
    <textarea id="description" name="description" rows="4" cols="50">{{event[1]}}</textarea><br><br>
    <button type="submit" name="submit" value="save">Сохранить</button>
  </form>
  <br>
  <form method="post">
    <button type="submit" name="submit" value="delete">Удалить событие</button>
  </form>
</body>
</html>