<!DOCTYPE html>
<html>
<head>
  <title>Страница аккаунта</title>
  <style>
    button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #007bff;
      color: #ffffff;
      cursor: pointer;
    }

    button:hover {
      background-color: #0069d9;
    }
  </style>
</head>
<body>
  <h1>Аккаунт</h1>

  <form method="post">
    <button type="submit" name="submit" value="logout">Выйти из аккаунта</button>
  </form>

  <form method="post">
    <button type="submit" name="submit" value="change">Сменить аккаунт</button>
  </form>
</body>
</html>
